body {
background-color: lightblue;
}

h1 {
color: navy;
margin-left: 20px;
margin - right : 80px;
margin- top : 70px
<<<<<<< HEAD
text:"My name is Ayush"
=======
text:"My name is Ayush Ranjan Jha"
>>>>>>> new_branch
}

